/.project
/.spyproject
_build/
build/
wntr.egg-info/

*.pyc
*.egg
*.coverage
*.ipynb
*.html
*.pickle
*.xlsx

temp*.inp
temp*.bin
temp*.rpt
temp*.json

examples/*.inp
wntr/tests/*.png
wntr/tests/performance_results

examples/signal.csv
examples/temp.hyd

