/.project
/.spyproject
_build/
build/
wntr.egg-info/

*.pyc
*.pyd
*.egg
*.coverage
*.ipynb
*.html
*.pickle
*.xlsx

temp.inp
temp.bin
temp.rpt

examples/*.inp
wntr/tests/*.png
wntr/tests/performance_results