# Required
numpy
scipy
networkx
pandas
matplotlib

# Optional
plotly
folium
utm
openpyxl
geopandas; sys_platform == "darwin" or sys_platform == "linux"
rtree; sys_platform == "darwin" or sys_platform == "linux"

# Testing
pytest
ipykernel
nbformat
nbconvert
coverage
sphinx_rtd_theme
